data/ filter=lfs diff=lfs merge=lfs -text
data/** filter=lfs diff=lfs merge=lfs -text
outputs/**/*.png filter=lfs diff=lfs merge=lfs
models/** filter=lfs diff=lfs merge=lfs
models/README.md !filter !diff !merge text
