rdflib
owlready2
pandas
# dask[dataframe]

# metapub       # used in EFO to access Pubmed
# pybliometrics # to access Scopus
# metaknowledge
# scholarly     # to search google scholar
# easy-entrez
# https://github.com/FedeClaudi/refy

gensim
nltk
tqdm
spacy
pyldavis  # visualize topic models
# spacy-streamlit
scikit-learn  # for LDA and other topic modeling techniques