rdflib
owlready2
pandas
xmltodict
# dask[dataframe]

# metapub       # used in EFO to access Pubmed
# pybliometrics # to access Scopus
# metaknowledge
# scholarly     # to search google scholar
# easy-entrez
# https://github.com/FedeClaudi/refy

gensim
nltk
tqdm
spacy
pyldavis  # visualize topic models
# spacy-streamlit
scikit-learn  # for LDA and other topic modeling techniques
wordcloud

python-Levenshtein  # sued by gensim

seaborn
networkx
python-igraph
cairocffi  # igraph requires cairo binding; you also need to `brew install cairo` on macOS. or use conda to install cairo.
# pycairo  # igraph requires cairo binding; you also need to `brew install cairo` on macOS. or use conda to install cairo.
bokeh
pyvis
plotly
pydot  # keras uses pydot to plot models

bertopic  # BERT topic modeling
git+https://github.com/scikit-learn-contrib/hdbscan
# umap-learn[parametric_umap]

top2vec   # deep topic modeling

pigeon-jupyter  # annotation
pigeonXT-jupyter  # improved annotation

sympy  # symbolic math and matrix ranks

tensorflow_hub  # to access pretrained models of tf-hub
